<h1 mat-dialog-title>Add User</h1>
<div mat-dialog-content>

        <div>
            <mat-form-field class="mr-16" appearance="outline">
                <mat-label>First name</mat-label>
                <input matInput placeholder="Placeholder">
                
            </mat-form-field>
        
            <mat-form-field appearance="outline">
                <mat-label>Last name</mat-label>
                <input matInput placeholder="Placeholder">
                
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="outline" class="full">
                <mat-label>Birth Date</mat-label>
                <input matInput placeholder="Placeholder" [matDatepicker]="picker">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
               
                
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Address</mat-label>
                <input matInput placeholder="Placeholder">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Street + HouseNumber</mat-label>
                <input matInput placeholder="Placeholder">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="outline" class="mr-16" >
                <mat-label>Zip code</mat-label>
                <input matInput placeholder="Placeholder">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>city</mat-label>
                <input matInput placeholder="Placeholder">
            </mat-form-field>
        </div>
        
        
      
    
   
  
</div>


<div mat-dialog-actions>
  <button mat-button>Cancel</button>
  <button mat-button  cdkFocusInitial >Save</button>
</div>
