.user-detail-header {
    min-height: 250px;
    width: 100%;
    background-color: #ff5b27;
    color: white;
    align-items: center;
    justify-content: center;
    img{
        height: 80px;
        width: 80px;
        border-radius: 100%;
        object-fit: cover;
    }
}

.user-details {
    height: 100px;
    margin-left: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    h2{
        margin-bottom: 0;
    }
}

.pin-right-upper-corner{
    position: absolute;
    right: 0;
    top: 0;
}