<mat-card>
    <table class="user-table">
        <tr>
            <th>Name</th>
            <th>E-Mail</th>
            <th>City</th>
        </tr>


        <tr>
            <td>sd</td>
            <td>sdsd</td>
            <td>sdd</td>
        </tr>

        <tr>
            <td>sd</td>
            <td>sdsd</td>
            <td>sdd</td>
        </tr>
        
    </table>
</mat-card>
  

<button (click)="openDialog()" class="add-user-btn" mat-fab color="primary"  matTooltip="add user" matTooltipPosition="above">
    <mat-icon>add</mat-icon>
</button>

